<div class=header>
<h1>New Project Page!!</h1>
</div>

<p> Categories</p>
<form class="create-form card p-2" style="width: 34rem;">

    <div class="form-group">
        <label for="customersList">Select a Category:</label>
        <select class="form-control" id="customersList">
            {{#each categories}}
            <option value={{id}}>{{name}}</option>
            {{/each}}
        </select>
    </div>
</form>
<br>
<form class = "projectName">
  Project Name: <input type="text" name="pName"><br>
</form>
<br>
<form class = "pictureURL">
  PictureURL: <input type="text" name="pURL"><br>
</form>
<br>
<form class = "generalInstructions">
  General Instructions: <input type="text" name="gInstructions"><br>
</form>
<form class = "submitButton">
<input type="submit" value="Submit">
</form>
{{> projects/project-block}}