<form>
  {{#if user}}
    <div class="form login-form" style="color:black;">
      <p>Logged in as <strong>{{user.username}}</strong></p>
      <div class="buttons">
        <a class="button profile" href="#" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color:white; background-color:sandybrown; font-size:20px;">My Profile</a>
        <a class="button main" href="/" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serifl; color:sandybrown; font-size:20px;">Main Page</a>
      </div>
    </div>
  {{else}}
    <div class="form login-form" style="background-color:sandybrown; margin-bottom:180px">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <div class="buttons">
        <button class="button login" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color:sandybrown;">Log in</button>
        <a class="button signup" href="/register" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color:sandybrown;">Signup</a>
      </div>
    </div>
    <div class="form signup-form" style="background-color:sandybrown;">
      <input type="text" name="username" placeholder="username">
      <input type="text" name="email" placeholder="email">
      <input type="password" name="password" placeholder="password">
      <div class="buttons">
        <a class="button login" href="/" style="color:sandybrown; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Log In</a>
        
        <button class="button signup" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color:sandybrown;">Sign Up</button>
      </div>
    </div>
  {{/if}}
</form>