body {
    font-size: 18px;
  }
  
  h1 {
    text-align: center;
  }
  
  .form {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    box-shadow:  0 7px 20px rgba(0,0,0,0.19), 0 0px 6px rgba(0,0,0,0.23);
    padding: 15px;
    text-align: center;
  }
  
  .form input {
    font-size: 15px;
    padding: 12px;
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, .1);
    border: none;
  }
  
  input + input, .form .buttons {
    margin-top: 15px;
  }
  
  .buttons {
    display: flex;
  }
  
  .buttons button {
    flex: 1;
  }
  
  .button,
  .button:hover,
  .button:active,
  .button:visited {
    cursor: pointer;
    flex: 1;
    padding: 10px;
    text-decoration: none;
    background: #f1f1f1;
    color: #000;
    text-align: center;
    border: none;
    box-shadow: none;
    font-size: 16px;
  }
  
  .button + .button {
    margin-left: 15px;
  }
  
  .login-form .login .signup .signup-form{
    flex: 2;
    color:sandybrown; 
    font-family:"Cambria, Cochin, Georgia, Times, 'Times New Roman', serif" ;
  }
  

  .nav-bar {
    font-family:"Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
  }

  .top-bar {
    font-family:"Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
  }
#username {
  color:sandybrown;margin-left:62%;
}

#profile {
  color:sandybrown; transform: translateY(4px); 
  border:1.5px solid orange; margin-left:45%;
}

#newProject {
  color:sandybrown; transform: translateY(4px); 
  border: 1.5px solid orange;
}

#allRecipies {
  color:sandybrown; 
  transform:translateY(4px); border:1.5px solid orange; heigth:30px;
}

#logoutUser {
  color:sandybrown;  transform: translateY(4px); border: 1.5px solid orange; 
  font-family:"Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"; background-color: transparent; 
}

#logIn{
  color:sandybrown; margin:25px 10px 40px; transform: translateY(4px);
   border: 1.5px solid orange;
    padding: 0 3em; 
    height: 30px; 
    margin-left:90px; font-family:"Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"; 
    background-color: transparent; 
}

#registerUser {
  color:sandybrown; transform: translateY(4px); border: 1.5px solid orange; padding: 0 3em; height: 30px; font-family:"Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"; background-color: transparent;
}

#alignMargin{
   margin:10px;
   text-align:center;
}

.titleFooter {
  font-family:"Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"; letter-spacing:3.5px; 
  color:rgb(240, 121, 16)
}

#followUs {
font-family:"Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"; letter-spacing:3.5px; 
color:rgb(240, 121, 16);
}

.socialIcons {
  font-family:"Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"; font-size:33px;
}

.tableHeader {
  font-family:"Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
}

#tableRow {
  background-color:sandybrown; 
  color:white; 
  text-align:center;

}

#tableRowAdd{
  background-color: white
}

#navFooter {
  background-color:rgb(226, 221, 221);
}

.signUpForm{
 
  font-family:"Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
  color:sandybrown; 
}
