<table>
  <tr>
    <th>Projects Name</th>
    <th>General Instructions</th>
    <th>Actions</th>
  </tr>
  {{#each projects}}
  <tr>
    <td>{{name}}</td>
    <td>{{instructions}}</td>
    <td>{{actions}}</td>
  </tr>
  {{/each}}
</table>