<table>
  <tr>
    <th>Project Name</th>
    <th>General Instructions</th>
    <th>Actions</th>
  </tr>
  
  {{#each projects}}
  <tr>

    <td>{{name}}</td>
    <td>{{instructions}}</td>
    <td>{{userId}}</td>
    <td><a href="/task/{{id}}">Add task</a></td>
  </tr>
  {{/each}}
</table>